@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("http://fonts.cdnfonts.com/css/sofia-pro");

img {
    object-fit: cover;
}

.owl-carousel{
    .owl-nav{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        span{
            padding: 10px;
            font-size: 40px;
            font-weight: 700;
            color: #ffffff;
        }
    }
}

.patrimonio{
    .card{
        .card-body{
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            height: 100%;
            width: 100%;
        }
    }
}
.population{
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.nav-tabs .nav-link:hover {
        background-color: transparent;
        border-color: transparent;
        border-bottom: 2px solid #495057;
        font-weight: 700;
    }
    .nav-tabs .nav-link{
        color: #495057;
    }
}
.x-images {
    display: flex;
    padding-bottom: 7px;
    margin-bottom: 50px;
    img {
        width: 40vw;
        height: 60vh;
    }
}

.time-line {
    /* The actual time-line (the vertical ruler) */
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    /* Container around content */
    .timeline-container {
        padding: 10px 60px;
        position: relative;
        background-color: inherit;
        width: 50%;
        .card {
            border: 0px;
            background-color: transparent;
            .card-body {
                height: 100%;
            }
            img {
                width: 75%;
                aspect-ratio: 1;
                border-radius: 50%;
            }
        }
    }

    /* The circles on the time-line */
    .timeline-container::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0;
        transform: translate(50%, -50%);
        background-color: white;
        border: 3px solid #ffb100;
        top: 50%;
        border-radius: 50%;
        z-index: 1;
    }

    /* Place the container to the left */
    .left {
        left: 0;
    }

    /* Place the container to the right */
    .right {
        left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        position: absolute;
        top: 50%;
        width: 50px;
        height: 2px;
        transform: translate(100%, -50%);
        z-index: 1;
        right: 50px;
        background-color: #ffb100;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        position: absolute;
        top: 50%;
        width: 50px;
        height: 3px;
        transform: translate(-100%, -50%);
        z-index: 1;
        left: 50px;
        background-color: #ffb100;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
        right: 100%;
    }

    /* The actual content */
    .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }

    /* Media queries - Responsive time-line on screens less than 600px wide */
    @media screen and (max-width: 600px) {
    }
}

/* The actual time-line (the vertical ruler) */
.time-line::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #ffb100;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.page-heading {
    text-align: center;
    font-size: 150px;
    -webkit-text-stroke: 1px #ffd981;
    color: white !important;
    text-shadow: 1px 1px 0 #ffd981, -1px -1px 0 #ffd981, 1px -1px 0 #ffd981,
        -1px 1px 0 #ffd981, 1px 1px 0 #ffd981;
}

$primaryColor: white;
$secondaryColor: #000a33;
$app-yellow: #ffb100;
$px-app: 80px;

$accordion-icon-color: #fff;
$accordion-icon-active-color: $app-yellow;

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: $secondaryColor;
}

body {
    font-family: "Sofia Pro", sans-serif;
    p {
        text-align: justify;
    }
}

//reUseAble classes
.text--white {
    color: white !important;
}

.px-app {
    padding-left: 80px;
    padding-right: 80px;
}

.secondary-bg {
    background-color: $secondaryColor !important;
}

.yellow-text {
    color: $app-yellow !important;
}

.saber-btn {
    display: inline-flex;
    //color: $primaryColor;
    padding-bottom: 5px;
    align-items: center;
}

.saber-btn:after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $app-yellow;
    font-size: 40px !important;
    color: $app-yellow;
    // z-index: -1;
    margin-left: -20px;
    transform: rotate(180deg);
}

.header {
    height: auto !important;
    background-color: transparent !important;
    box-shadow: none !important;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .v-toolbar__content {
        height: auto !important;
        padding: 0 0 0 0;
    }

    .alignBox {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .custom-nav-bar {
        width: 100%;
        //background-color: $secondaryColor;
        background-image: linear-gradient($secondaryColor, transparent);
        padding: 0px 80px;

        .navigation {
            color: white;
            width: 100%;

            button.nav-item {
                font-family: "Sofia Pro", sans-serif;
                background-color: transparent;
                border: none;
                color: white;
                margin: 0px 10px;
                font-size: 16px;
                padding: 0px;
            }

            button.nav-item:first-child {
                margin: 0px 0px;
            }

            button.nav-item:last-child {
                margin: 0px 0px;
            }
        }

        .navigation.right {
            display: flex;
            justify-content: right;
        }
    }
}

.main {
    z-index: 2;

    .slider {
        // background-color: $secondaryColor;

        .text-box {
            position: relative;
            flex: 1/8;
            z-index: 10;

            .wrap {
                padding: 0 0 0 220px;
                display: flex;
                align-items: center;
                width: 200%;
                height: 100%;
                margin-right: -140px;

                .label,
                h2,
                p {
                    color: white;
                    margin-bottom: 20px !important;
                }

                .label,
                h2 {
                    text-transform: uppercase;
                }

                .label {
                    color: $app-yellow;
                }

                .saber-btn {
                    min-width: 100px;
                    margin-top: 40px;
                }
            }

            .scrollDown-btn {
                position: absolute;
                left: 70px;
                bottom: 100px;
                color: $app-yellow;
                transform: rotate(-90deg);
            }
        }

        .image-box {
            img {
                height: 60vh;
            }
        }
    }

    section.sobre {
        margin-top: 100px;
        margin-bottom: 100px;

        svg {
            font-weight: 700;
            font-family: "Sofia", cursive;
        }

        .wrap {
            padding: 0 0 0 220px;
            p {
                font-size: 17px;
            }
        }

        img {
            height: 80vh;
            min-height: 100%;
        }
    }
}

.home-page {
    .slider {
        .image-box {
            img {
                height: 100vh;
            }
        }

        .background-box {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    section.count-box {
        position: relative;
        overflow: hidden;
        .card {
            .card-body {
                padding: 0.75rem;
                .card-title {
                    margin-bottom: 0.75rem !important;
                }
            }
            .card-img-right {
                padding: 0.75rem;
            }
        }
        .background-box {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    section.sobre {
        margin-top: 200px;

        svg {
            font-weight: 700;
            font-family: "Sofia", cursive;
        }

        .wrap {
            padding: 0 0 0 220px;
        }

        img {
            margin-bottom: -7px;
        }
    }

    section .accordion {
        .accordion-button {
            background-color: #000a33 !important;
            color: $app-yellow !important;
        }
        .saber-btn {
            margin-top: 30px;
        }
        .saber-btn:after {
            z-index: 1;
        }
        .accordion-button::after {
            background-position: center;
        }
        .accordion-button:not(.collapsed)::after {
            color: $app-yellow !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.837' height='2' viewBox='0 0 27.837 2'%3E%3Cpath id='Path_60785' data-name='Path 60785' d='M952,5101.945H924.163' transform='translate(-924.163 -5100.945)' fill='none' stroke='%23ffb100' stroke-width='2'/%3E%3C/svg%3E%0A");
        }
        .accordion-button.collapsed::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.837' height='27.837' viewBox='0 0 27.837 27.837'%3E%3Cg id='Group_16167' data-name='Group 16167' transform='translate(-924.163 -5499.082)'%3E%3Cpath id='Path_60786' data-name='Path 60786' d='M952,5101.945H924.163' transform='translate(0 411.055)' fill='none' stroke='%23ffb100' stroke-width='2'/%3E%3Cpath id='Path_60787' data-name='Path 60787' d='M952,5101.945H924.163' transform='translate(6040.026 4574.918) rotate(90)' fill='none' stroke='%23ffb100' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        .accordion-button.collapsed {
            color: white !important;
        }
    }
    section.agenda {
        background-color: #fafafa;
        margin-top: 30px;
        .carousel-indicators {
            align-items: center;
            .active {
                background-color: $secondaryColor;
                height: 100% !important;
            }
            div {
                background-color: grey;
                height: 70%;
            }
        }
    }
}

.mensagem {
    .message {
        .content {
            position: relative;
            padding: 0 100px;
            svg:nth-child(1) {
                position: absolute;
                right: 0;
                top: 0;
            }
            svg:nth-child(2) {
                visibility: hidden;
            }
        }
    }
}

.missao {
    section.sobre {
        img {
            width: 100%;
            height: 40vh;
        }
    }
}

footer {
    .footer-links {
        a.heading {
            color: $app-yellow;
        }
        a {
            text-decoration: none;
            color: white;
        }
        p {
            text-align: left;
        }
    }
    .footer-links.mid {
        a {
            color: $app-yellow;
        }
    }
}

#menu {
    a.heading {
        color: $app-yellow;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
.footer-links.mid {
    a {
        color: $app-yellow;
    }
}

.main {
    .slider {
        img.home-page-img {
            height: 100vh;
        }

        .background-box {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}
// r-medium

@media (max-width: 992px) {
}

// r-small

@media (max-width: 576px) {
    .time-line {
        /* Full-width containers */
        .timeline-container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        /* Make sure that all arrows are pointing leftwards */
        .timeline-container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 15px;
        }

        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }
    /* Place the timelime to the left */
    .time-line::after {
        left: 31px;
    }
    .cards-slider {
        .card-box {
            margin: 10px auto;
        }
    }
    .document-box {
        padding: 0px 7.33vw 70px !important;
    }
    .slider-with-right-img {
        padding: 0 7.33vw;
    }
    section.sobre {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        .wrap {
            padding: 0 7.33vw !important;
        }
    }

    .page-heading {
        overflow: hidden;
        text-align: left;
        font-size: 70px;
        -webkit-text-stroke: 1px #ffd981;
        color: white !important;
        text-shadow: 1px 1px 0 #ffd981, -1px -1px 0 #ffd981, 1px -1px 0 #ffd981,
            -1px 1px 0 #ffd981, 1px 1px 0 #ffd981;
    }

    .mensagem {
        .message {
            .content {
                position: relative;
                padding: 0 0px;
                svg:nth-child(1) {
                    position: relative;
                    text {
                        font-size: 185px;
                    }
                }
                svg:nth-child(2) {
                    display: none;
                }
            }
            .images {
                padding-bottom: 50px !important;
                padding-right: 50px !important;
                img:nth-child(1) {
                    height: 40vh !important;
                }
            }
        }
    }
    .px-app {
        padding: 0 7.33vw;
    }
    header {
        .custom-nav-bar {
            padding: 0px !important;
        }
    }
    .main {
        .slider {
            img.home-page-img {
                height: 50vh !important;
            }
            .text-box {
                .wrap {
                    width: 100%;
                    padding: 0px !important;
                    margin-top: -80px;
                }
                .scrollDown-btn {
                    display: none;
                }
            }
        }
        .count-box {
            .mycard:nth-child(even) {
                padding-top: 0px !important;
                padding-left: 110px !important;
                padding-right: 40px !important;
                margin: 10px 0 !important;
            }
            .mycard:nth-child(odd) {
                padding-bottom: 0px !important;
                padding-right: 110px !important;
                padding-left: 40px !important;
                margin: 10px 0 !important;
            }
        }
        .cards-slider,
        .agenda {
            svg {
                width: 70%;
                margin: 0 auto;
                text:nth-child(1) {
                    font-size: 180px;
                }
                text:nth-child(2) {
                    transform: translate(28%, 55%);
                }
            }
        }
        .dropdownImg {
            margin: 0px 0px !important;
            padding: 0 7.33vw;
        }
    }
}
